---
import { getCollection } from "astro:content";
import { render } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post: any) => ({
    params: { slug: post.id },
    props: post,
  }));
}

const post: any = Astro.props;
const { Content } = await render(post);
---
<BlogLayout>
  <img class="rounded w-100" src={post.data.image.url} />
  <h1 class="mt-3">{post.data.title}</h1>
  <h4 class="mt-3 mb-4">{post.data.description}</h4>
  <Content />
</BlogLayout>
