#navigation {
  background-color: transparent;
  transition: background-color 0.2s ease;
}

#navigation.scrolled {
  background-color: var(--nav-bg-color);
}

.theme-icon {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.theme-icon-fade-out {
  opacity: 0;
  transform: rotate(90deg);
}

.theme-icon-fade-in {
  opacity: 1;
  transform: rotate(0deg);
}

.emoji {
  margin-right: 6px;
}

.header-page-title {
  font-size: 4rem;
}

section.post {
  max-width: 1000px;
}

li.post-card {

  list-style: none;
  border: 1px solid grey;

  .post-card-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 320px;
    height: 200px;

    @media (max-width: 576px) {
      min-width: 120px;
    }

  }
}

img.resource-icon {
  height: 30px; 
}

div#filterTags {
  max-width: 800px;
}

.social-icon-bg {
  display: inline-block;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: 4px;  
  border-radius: 5px; 
}
.social-icon-bg-github {
  background-color: black;
}

.social-icon-bg-gmail {
  background-color: #db4a39;
}

.social-icon-bg-linkedin {
  background-color: #0077b5;
}