.emoji {
  margin-right: 6px;
}

section.post {
  max-width: 1000px;
}

li.post-card {

  list-style: none;
  border: 1px solid grey;

  .post-card-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 320px;
    height: 200px;

    @media (max-width: 576px) {
      min-width: 120px;
    }

  }
}

li.resource-card {
  width: 100%;
  max-width: 380px;
  border: 1px solid rgb(68, 68, 68);
  list-style: none;

  img.resource-icon {
    height: 30px; 
  }
}

div#filterTags {
  max-width: 800px;
}