section.hero {
  background-image: var(--hero-bg-image);
  background-position: top;
  background-size: cover;
  height: 100svh;

  h1 {
    font-family: 'Bytesized', monospace;
    font-size: 280px; 
    width: 525px; 
    line-height: 270px;
    overflow: hidden;
    /* gradient */
    /* background-image: linear-gradient(92deg, #b6d162 25%, #82d2cf 50%, #bc9afa 75%); */
    /* background-image: linear-gradient(92deg, #4d5c2a 25%, #3b5e60 50%, #3b2772 75%); */
    background-image: linear-gradient(92deg, #698515 25%, #28928f 50%, #663bb8 75%); 
    /* background-image: linear-gradient(92deg, #4947ac 10%, #b34888 45%, #d86b39 75%, #cb8439); */
    -webkit-text-fill-color: #0000;
    -webkit-background-clip: text;
    @media (max-width: 576px) {
      font-size: 140px;
      width: 260px;
      line-height: 120px;
    }
  }
}
