---
import Layout from "../layouts/Layout.astro";
import HeaderPage from "../components/HeaderPage.astro";
import ResourceCardsContainer from "../components/ResourceCardsContainer.astro";
import ResourceCard from "../components/ResourceCard.astro";
import resources from "../data/resources.json";

const tagsSet = new Set(resources.flatMap((resource) => resource.tags ?? []));
const tags = Array.from(tagsSet).sort((a, b) => a.localeCompare(b));
---

<Layout>
  <HeaderPage
    title="Recursos"
    subtitle="Enlaces a herramientas, servicios y proyectos interesantes"
  />  
  <div id="filterTags" class="container d-flex justify-content-center flex-wrap gap-1 p-3 m-auto">
    {[...tags].map((tag) => <button class="btn btn-sm btn-outline-primary rounded-pill filterTag" data-filter={tag}>{tag}</button>)}
  </div>
  <ResourceCardsContainer>
    {resources.sort((a, b) => a.name.localeCompare(b.name)).map((resource) => <ResourceCard resource={resource} />)}
  </ResourceCardsContainer>
</Layout>

<script>
  import '@/scripts/resources';
</script>

