---
import Layout from "../layouts/Layout.astro";
import HeaderPage from "../components/HeaderPage.astro";
import ResourceCardsContainer from "../components/ResourceCardsContainer.astro";
import ResourceCard from "../components/ResourceCard.astro";
import Badge from "../components/Badge.astro";
import resources from "../data/resources.json";

const allTags = new Set(resources.flatMap((resource) => resource.tags ?? []));
---

<Layout>
  <HeaderPage
    title="Recursos"
    subtitle="Enlaces a herramientas, servicios y proyectos interesantes"
  />
  <div>
    {[...allTags].map((tag) => <Badge text={tag} />)}
  </div>
  <ResourceCardsContainer>
    {resources.map((resource) => <ResourceCard resource={resource} />)}
  </ResourceCardsContainer>
</Layout>

<style>
  div {
    padding: 40px 60px;
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
</style>
