---
const { text } = Astro.props;
---

<span>{text}</span>

<style>
  span {
    background-color: blue;
    color: white;
    padding: 1px 7px;
    font-size: 0.8rem;
    border-radius: 10px;
  }
</style>
