---
import ResourceCardsContainer from "@/components/ResourceCardsContainer.astro";
import ResourceCard from "@/components/ResourceCard.astro";

import data from "@/data/resources.json";
const resources = data.filter((resource) => resource.favorite);
---

<section class="pt-4">
  <h2 class="text-center pt-4">Recursos favoritos</h2>
  <ResourceCardsContainer>
    {resources.sort((a, b) => a.name.localeCompare(b.name)).map((resource) => <ResourceCard resource={resource} />)}
  </ResourceCardsContainer>
</section>
