---
const socialIcons = [
  {name: 'linkedin', url: 'https://www.linkedin.com/in/ruben-gonzalez-martin/', icon: 'bi bi-linkedin'},
  {name: 'gmail', url: 'mailto:rubengm410@gmail.com', icon: 'bi bi-envelope-paper-heart-fill'},
  {name: 'github', url: 'https://github.com/rugo-es', icon: 'bi bi-github'}
]
---

<footer class="py-3 border-top border-3 border-primary">
  <div class="w-100 d-flex align-item-center justify-content-center gap-4">
    {
      socialIcons.map(el => <a href={el.url} target="_blank">
        <i class={`${el.icon} fs-1`}></i>
      </a>)
    }
  </div>
  <h6 class="text-primary text-center my-3"><strong>rugo@2025</strong></h6>
</footer>
