---
import linkedinIcon from "../assets/linkedin.svg";
import githubIcon from "../assets/github.svg";
import gmailIcon from "../assets/gmail.svg";
---

<footer class="py-3 border-top border-2">
  <div class="w-100 d-flex align-item-center justify-content-center gap-4">
    <a href="https://www.linkedin.com/in/ruben-gonzalez-martin/" target="_blank">
      <img width="48" height="48" src={linkedinIcon.src} alt="linkedin" />
    </a>
    <a href="mailto:rubengm410@gmail.com">
      <img width="48" height="48" src={gmailIcon.src} alt="gmail" />
    </a>
    <a href="https://github.com/rugo-es" target="_blank">
      <img width="48" height="48" src={githubIcon.src} alt="github" />
    </a>
  </div>
  <h6 class="text-center mt-3 mb-4">rugo@2025</h6>
</footer>
