---
import linkedinIcon from "../assets/linkedin.svg";
import githubIcon from "../assets/github.svg";
import gmailIcon from "../assets/gmail.svg";
---

<footer>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/ruben-gonzalez-martin/" target="_blank">
      <img width="48" height="48" src={linkedinIcon.src} alt="linkedin" />
    </a>
    <a href="mailto:rubengm410@gmail.com">
      <img width="48" height="48" src={gmailIcon.src} alt="gmail" />
    </a>
    <a href="https://github.com/rugo-es" target="_blank">
      <img width="48" height="48" src={githubIcon.src} alt="github" />
    </a>
  </div>
  <h6>rugo@2025</h6>
</footer>

  <style>
    footer {
      border-top: 1px solid grey;
      padding: 20px 0;
    }

    .social-icons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }

    h6 {
      font-size: 1rem;
      text-align: center;
      margin: 10px 0;
    }
  </style>
</footer>
