---
const { title, subtitle } = Astro.props
---

<header class="text-center my-5 pt-4 pb-4">
  <h1 class="header-page-title mt-4 px-1">{title}</h1>
  <h2 class="mt-4 mb-3 px-1">{subtitle}</h2>
</header>

