---
import '@/styles/hero.css'
---

<section class="d-flex flex-column align-items-center justify-content-center text-center hero">
  <h1 class="mb-4">rugo</h1>
  <h2 class="mb-3 hero">Tech Life</h2>
  <h4>💋 Keep It Simple, Sweety</h4>
</section>
