---

---

<section style="
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/014/290/125/original/abstract-dark-blue-purple-frame-with-flying-glittering-digital-hi-tech-particles-with-blur-effect-and-bokeh-on-black-background-screensaver-beautiful-animation-in-high-resolution-4k-free-video.jpg);
  background-position: center;
  background-size: cover;
  color: #f2f2f2;
  height: 100svh;
">
  <h1 class="gradient"  style="font-family: 'Bytesized', monospace; font-size: 160px; width: 300px; height: 170px; overflow: hidden;">rugo</h1>
  <h2 >Tech life</h2>
  <h3>💋 Keep It Simple, Sweety</h3>
</section>

<style>
  section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 6rem;
    margin: 0;
  }

  h2 {
    font-size: 3rem;
  }
</style>
