---
import PostCard from "@/components/PostCard.astro"
import PostCardsContainer from "@/components/PostCardsContainer.astro"

import { getCollection } from "astro:content";
const allPosts = (await getCollection("blog")).sort(
  (a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<section class="pt-4">
  <h2 class="text-center pt-4">Últimas entradas al blog</h2>
  <PostCardsContainer>
    {allPosts.map((post: any) => <PostCard post={post} />)}
  </PostCardsContainer>
</section>
