---

---

<header>
  <nav>
    <ul>
      <li><a class="nav-link" href="/">Inicio</a></li>
      <li><a class="nav-link" href="/blog">Blog</a></li>
      <li><a class="nav-link" href="/resources">Recursos</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    background-color: rgba(0, 0, 0, 0.807);
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px);
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    height: 35px;
  }

  a.nav-link {
    text-decoration: none;
    color: #fff;
  }

  a.nav-link:hover {
    color: #ffffff9f;
  }
</style>
